:root {
  --primary-color: #4A5982;
  --secondary-color: #89503C;
  --dark-color: #333;
  --darker-color: #021533;
  --light-color: #f4f4f4;
  --lighter-color: #d4d1cb;
}

body {
  font-family: 'Fira Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--darker-color);
  color: var(--lighter-color);
  line-height: 1.4;
}

h1 {
  font-size: 70px;
  font-weight: 300;
}

.hero > img {
  width: 100%;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: repeat(3);
  justify-items: center;
  text-align: center;
  align-items: center;
  padding: 0rem 4rem 2rem 4rem;
}

.header h2 {
  font-size: 38px;
  margin-top: 4rem;
}

.header .sub-heading {
  grid-column: 3;
}

.links {
  /* opacity: 0; */
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 3rem 2rem 0 0;
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 1.5rem;
}

.links a:hover {
  color: var(--lighter-color);
}

.links a.current {
  color: var(--secondary-color);
}

.hero {
  position: relative;
}

.hero .fa-chevron-right {
  position: absolute;
  top: 50vh;
  right: 3rem;
  color: var(--light-color);
}

.hero .fa-chevron-left {
  position: absolute;
  top: 50vh;
  left: 3rem;
  color: var(--light-color);
}

.hero .fa-chevron-right:hover {
  cursor: pointer;
  color: var(--lighter-color);
}

/* Landscapes */
.landscapes {
  display: grid;
  grid-template-columns: repeat(1fr);
  background-color: var(--dark-color);
}
.landscapes > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Portraits */
.portraits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  margin: auto;
}

.portraits > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portraits > img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.portraits .breawna {
  grid-column: 1 span 2;
}

.portraits .isaac {
  grid-column: 1 span 2;
}

/* Prints */
.print h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
}

.print h3 {
  text-align: center;
  padding-top: 2rem;
  font-size: 22px;
}

.print p {
  margin: auto;
  padding: 2rem;
  max-width: 80%;
  font-size: 20px;
  border-top: var(--lighter-color) 1px solid;
  border-bottom: var(--lighter-color) 1px solid;
}

/* Contact */
.contact-page {
  /* background-color: var(--secondary-color); */
  padding: 2rem;
}

.contact-page p {
  font-size: 18px;
  line-height: 1.8;
}

.bold {
  font-weight: bold;
  font-size: 19px;
  color: var(--primary-color);
}

/* .ryan > img {
  position: relative;
  width: 100%;
  height: 100%;
} */

.contact-links {
  text-align: center;
}

.contact-links i {
  color: var(--secondary-color);
  padding: 0 1.5rem;
}

.contact-links i:hover {
  color: var(--lighter-color);
  cursor: pointer;
  margin: auto;
}

.footer {
  height: 70px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer h1 {
  font-size: 20px;
  font-weight: 400;
} */